<!--index.vtl-->
<h1>Nummy!</h1>
<h3>Our crowd-sourced website for restaurants is way better!</h3>
<h4>Dishes:</h4><br>
#if($dishes)
  #foreach($dish in $dishes)
    <p><a href="/dishes/$dish.getDishId()">$dish.getFoodType()</a></p><br>
  #end
#else
  <p>No Dishes.</p>
#end