<!-- cuisines-form.vtl -->
<h1>New Dish:</h1>

<form action="/" method="post">
  <label for="type">Dish type:</label><br>
  <input type="text" name="type" required>
  <button type="submit" class="btn btn-primary">Add Dish</button>
</form>

<a href="/"><button name="btn btn-primary">Back to dishes</button></a>
<!-- cuisines-form.vtl -->