<!-- restaurants-form.vtl -->
<h1>New Restaurants:</h1>

<form action="/" method="post">
  <label for="name">Restaurants  Name:</label><br>
  <input type="text" name="name" required>
  <label for="foodType">Restaurants type:</label><br>
  <input type="text" name="foodType" required>
  <button type="submit" class="btn btn-primary">Add Restaurant</button>
</form>

<a href="/"><button name="btn btn-primary">Back to Restaurants</button></a>
<!-- restaurants-form.vtl -->